<h1>Мой профиль</h1>

<%= render "profile", profile: @profile %>

<hr>

<%= link_to "Редактировать профиль", edit_profile_path %><br>
<%= link_to "Сменить пароль", edit_user_registration_path %><br>

